<% if (typeof(isHead) !== 'undefined' && isHead) { %>
    <% if (theme.plugins.lightgallery) { %>
        <%- css('libs/lightgallery/css/lightgallery.min') %>
    <% } %>
    <% if (theme.plugins.justifiedgallery) { %>
        <%- css('libs/justified-gallery/justifiedGallery.min') %>
    <% } %>
    <% if (theme.plugins.google_analytics) { %>
        <%- partial('plugin/google-analytics') %>
    <% } %>
    <% if (theme.plugins.baidu_analytics) { %>
        <%- partial('plugin/baidu-analytics') %>
    <% } %>
<% } else if (typeof(isFooter) !== 'undefined' && isFooter) { %>
    <% if (theme.plugins.statcounter && theme.plugins.statcounter.on) { %>
        <%- partial('plugin/statcounter') %>
    <% } %>
<% } else { %>
    <% if (theme.plugins.lightgallery) { %>
        <%- js('libs/lightgallery/js/lightgallery.min') %>
        <%- js('libs/lightgallery/js/lg-thumbnail.min') %>
        <%- js('libs/lightgallery/js/lg-pager.min') %>
        <%- js('libs/lightgallery/js/lg-autoplay.min') %>
        <%- js('libs/lightgallery/js/lg-fullscreen.min') %>
        <%- js('libs/lightgallery/js/lg-zoom.min') %>
        <%- js('libs/lightgallery/js/lg-hash.min') %>
        <%- js('libs/lightgallery/js/lg-share.min') %>
        <%- js('libs/lightgallery/js/lg-video.min') %>
    <% } %>
    <% if (theme.plugins.justifiedgallery) { %>
        <%- js('libs/justified-gallery/jquery.justifiedGallery.min') %>
    <% } %>
    <script src="//instant.page/2.0.1" type="module" defer integrity="sha384-4Duao6N1ACKAViTLji8I/8e8H5Po/i/04h4rS5f9fQD6bXBBZhqv5am3/Bf/xalr"></script>
    <% if (theme.plugins.mathjax) { %>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
        </script>
        <%- js('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML') %>
    <% } %>
<% } %>
